.app{
  display: flex;
  align-items: center;
  justify-content: center;
    padding:10px;
}
input{
  padding: 15px;
  margin: 10px 0px;
}
.formTitle{
  display: flex;
  align-items: center;
  justify-content: center;
}
.formButton{
  padding: 15px;
}